*.iml
.gradle
build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.keystore
*.jks
*.log
*.hprof
*.ipr
*.iws
/shelf/
/workspace.xml
proguard/
obj/
